svg{
  height: auto;
  width: 40%;
}

.left{
  background-color: rgba(182, 197, 201, 0.71);
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.state1, 
.state2, 
.state3,
.state4,
.state5{
  display: none;
}


body.body-state1 .state1{
  display: block;
}
body.body-state2 .state2{
  display: block;
}
body.body-state3 .state3{
  display: block;
}
body.body-state4 .state4{
  display: block;
}
body.body-state5 .state5{
  display: block;
}


.right{
  background-color: aliceblue;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

.ground {
  background-color: #D5E4D5;
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height: 40px; 
}

.rocket{
  position: absolute; /*based on parent (div class right)*/
  left: 50%;
  bottom: 20px;
  transition: bottom 3000ms;
  transition-timing-function: ease-in;
}

body.body-state1 .rocket,
body.body-state5 .rocket{
  transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
  bottom: 1000px;
}

a{
 color: orange;
 font-weight: bold;
}

a.button{

}