body{
  background-color: grey;
}

.nifty {
  width: 100px;
  height: 100px;
  background-color: green;
  transition: background-color 2s;
  padding: 20px 20px;
  margin: 20px;
  font-weight: bold;
  color: white;
  }

.nifty.red {
  background-color: red;
}

#cool {
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;


